body {
  font-family: 'Open Sans', sans-serif;
}

.bg-notimplemented {
  background-color: #b4b4b4;
}

.form-signin {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input {
  margin-bottom: 5px;
}

.form-signin .form-signin-heading {
  /*font-size: 16pt;*/
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .persist {
  padding: 0px 0px 20px 20px;
}

.form-signin .persist input {
  margin-right: 10px;
}

.form-control {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.text-sm {
  font-size: small;
}

.form-control:focus {
  z-index: 2;
}

.not-authed,
.authed {
  text-align: center;
}

.not-authed {
  color: #f45656;
}

.authed {
  color: #5cb85c;
}

.not-authed i,
.authed i {
  font-size: 12em;
}

.not-authed h2,
.authed h2 {
  margin-top: 0;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: smaller;
  color: #a0a0a0;
}

.register {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.register .register-heading {
  /*font-size: 16pt;*/
}

.register-choice {
  display: block;
  float: left;
  width: 100%;
  height: 200px;
  border: 1px solid darkgray;
  margin: 12px 5px;
  padding: 50px 10px 0px 10px;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  line-height: 0.9em;
  text-decoration: none !important;
}

.register-choice span {
  font-size: 0.6em;
  font-weight: normal;
  line-height: 0em;
}

.form-register {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.form-register input, .form-register textarea {
  margin: 0px 0px 5px 0px;
}

.form-register select {
  margin-bottom: 5px;
}

.form-register-heading {
  /*font-size: 16pt;*/
}

.form-register-token {
  margin: 25px 0px;
}

.note {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 5px 0px 5px;
}

.note-header {
  border-bottom: 1px solid gray;
}

.note-type {
  font-weight: bold;
  color: red;
  font-style: italic;
}

.note-global {
  color: blue;
  text-align: right;
  font-size: 0.9em;
  float: right;
}

.note-footer {
  color: gray;
  font-size: 0.8em;
}

.note-subject {
  font-size: 0.9em;
  font-weight: bold;
  font-style: italic;
}

.ui-dialog-titlebar-close {
  background-position: -96px -128px;
  background-image: url("/assets/css/images/ui-icons_ef8c08_256x240.png");
}

.navbar-nav > .active > a {
  background-color: #080808;
}

.note-popover {
  max-height: 500px;
  overflow-y: scroll;
}

.btn-note {
  padding-left: 7px;
  width: 30px;
  height: 30px;
}

.panel-body .row {
  margin-bottom: 10px;
}
